* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url('img/bg.jpg') no-repeat center center/cover;
  height: 90vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 100px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-bottom: 10%;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}



.container button{
  width: 30px;
  height: 30px;
  border: solid;
  border-width: 0.8px;
  border-radius: 10px;
}

.container button:focus{
  outline: none;
}


.formControl{
  display: flex;
  justify-content: left;
  box-sizing: border-box;
}


.formControl p{
  color: #000000;
  margin-left: 0px;
  margin-top: 10px;
  padding-top: 10px;

}

.formControl{
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftFormControl {
  text-align: left;
}

.leftFormControl input:focus{
  outline: none;
}
.leftFormControl input{
  border: none;
  width: 500px;
  height: 30px;
  border-radius: 10px;
  margin-right: 400px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.20);
}

.leftFormControl textarea{
  border: none;
  width: 500px;
  height: 75px;
  border-radius: 10px;
  margin-right: 400px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.20);
  resize: none;
}

.leftFormControl textarea:focus{
  outline: none;
}


.buttonPosition {
  justify-content: center;
  display: flex;
  height: 50px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 910px;
}

.buttonStyle button{
  background-color: grey;
  width: 70px;
  height: 45px;
  margin-top: 25px;
  margin-left: 180px;
  color: #ffffff;
}

.buttonStyle{
  display: flex;
  justify-content: center;
}

.leftFormTitle p{
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

.judul h2{
  color: #000000;
  margin-top: 10px;
}


.namaToko h2{
  color:#ffffff;
  text-shadow: 2px 2px #000000;
}

.buttonPosition button {
  border: none;
  box-shadow: 2px 2px #000000;
  width: 150px;
}